<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
        <ion-title>Chips de salami y queso</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Snacks/chips.jpg">
        <h1>
          Ingredientes
        </h1>
        <ul>
          <li> 110 g salami, unas 5 lonchas por porción</li>
          <li> 240 ml queso parmesano rallado</li>
          <li> 1 cdta. pimentón español</li>
        </ul>
        <h1>
          Procedimiento
        </h1>
        <ol>
          <li> Precalentar el horno a 225 °C (450 °F) o activar la función de grill del horno (a alta temperatura).</li>
          <li> Colocar las rodajas de salami sobre una bandeja de horno forrada con papel para horno. Dejar un poco de espacio entre las lonchas.</li>
          <li> Colocar un montoncito de queso rallado encima de cada loncha, alrededor de 1-2 cucharadas. Espolvorear el pimentón en polvo o las hierbas secas para darle más sabor.</li>
          <li> Colocar en el horno; hornear hasta que el queso esté burbujeante y dorado. Echarle un vistazo con frecuencia para que no se queme.</li>
          <li> Retirar del horno y dejar enfriar. Una vez frías, las chips estarán crocantes y listas para comer.</li>
        </ol>
      </ion-card-content>
    </ion-card>
    <form [formGroup]="mainForm" (ngSubmit)="storeData()">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input formControlName="Usuario" type="text" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Comentario</ion-label>
        <ion-input formControlName="Comentario" type="text" required>
        </ion-input>
      </ion-item>
  
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="medium" shape="full" expand="block">
            Añadir Comentario
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
    <ion-list>
      <ion-list-header>
        Comentarios
      </ion-list-header>
  
      <ion-item lines="inset" *ngFor="let data of Data">
        <ion-label>
          <h5>{{data.Usuario}}</h5>
          <p>{{data.Comentario}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  

